.cardVid{
    :hover {
        background-color: $color-boton-secundario;
        color: $color-fuentes-secundario;
        font-weight: bold;
    }
    .cardBody{
        
        .textosVideos{
            text-align: center;
        }
    }
    
    }
    