/* CAROUSEL */

.imgCarousel{
    height: 300px;
    object-fit: cov;
}

.colorBtn {
    background-color: lightseagreen;
    .colorBtn:hover{
        background-color: rgb(26, 151, 144);
    color: floralwhite;
    }

}