* {
    margin: 0;
    padding: 0;
}
@import "fuentes";
@import "contacto";
@import "header";
@import "productos";
@import "index";

.colorBtn{
    background-color: lightseagreen;
}
.colorBtn:hover {
    background-color: rgb(26, 151, 144);
    color: floralwhite;
}
section{
    padding: 1rem;
}