* {
    margin: 0;
    padding: 0;
}

@import "variables";
@import "concejos";
@import "contacto";
@import "fuentes";
@import "header";
@import "index";
@import "productos";
@import "variables";


section{
    padding: 1rem;
}